<!DOCTYPE html>
<html>
  <%- include("../partials/head") %>

  <body>
    <%- include("../sidebar") %>
    <h2 class="title-h2">Agregar Personaje</h2>
    <div class="div-form">
      <form
        action="/characters/add"
        method="POST"
        enctype="multipart/form-data"
        class="form"
      >
        Nombre:<label for="name">
          <input
            type="text"
            name="nombre"
            placeholder="Nombre del personaje"
            id="name"
            class="search-input"
            value="<%= locals.old && old.nombre %>"
          />
        </label>
        <% if (locals.errors && errors.nombre) { %>
          <small class="text-danger"><%= errors.nombre.msg %> </small>
       <% } %>

        Edad:<label for="age">
          <input
            type="number"
            name="edad"
            placeholder="Edad del personaje"
            id="age"
            class="search-input"
            value="<%= locals.old && old.edad %>"
          />
        </label>
        <% if (locals.errors && errors.edad) { %>
          <small class="text-danger"><%= errors.edad.msg %> </small>
       <% } %>

        Peso:<label for="weight">
          <input
            type="number"
            name="peso"
            placeholder="Peso del personaje"
            id="weight"
            class="search-input"
            value="<%= locals.old && old.peso %>"
          />
        </label>
        <% if (locals.errors && errors.peso) { %>
          <small class="text-danger"><%= errors.peso.msg %> </small>
       <% } %>

        Historia:<label for="history">
          <textarea id="history" name="historia" id="" placeholder="Historia del personaje" cols="30" rows="10" value="<%= locals.old && old.historia %>" class="search-input description"></textarea>
        </label>
        <% if (locals.errors && errors.historia) { %>
          <small class="text-danger"><%= errors.historia.msg %> </small>
       <% } %>

        Imagen:<label for="character-image">
          <input
            type="file"
            name="imagen_personaje"
            id="character-image"
            class="search-input"
          />
        </label>
        <% if (locals && locals.fileEmpty) { %>
          <small class="text-danger"><%- locals.fileEmpty %></small>
        <% } %>
        <% if (locals && locals.fileError) { %>
          <small class="text-danger"><%- locals.fileError %></small>
        <% } %>

        Peliculas/Series Asociadas:
        <div class="checkbox-container">
          <% movies.forEach(movie => { %>
          <label class="checkbox-label">
            <input
              class="checkbox-input"
              name="id_movies_asociated"
              type="checkbox"
              value="<%- movie.id %>"
            /><%- movie.titulo %>
          </label>
          <% }) %>
        </div>
        <button type="submit" class="search-button">Agregar</button>
      </form>
    </div>
  </body>
</html>
