<!DOCTYPE html>
<html>
  <%- include("../partials/head") %>

  <body>
    <%- include("../sidebar") %>
    <div class="div-form">
      <form
        action="/characters/edit/<%= character.id %>?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
        class="form"
      >
        Nombre:<label for="name">
          <input
            type="text"
            name="nombre"
            placeholder="Nombre del personaje"
            id="name"
            value="<%= character.nombre %>"
            class="search-input"
          />
        </label>
        Edad:<label for="age">
          <input
            type="number"
            name="edad"
            placeholder="Edad del personaje"
            id="age"
            value="<%= character.edad %>"
            class="search-input"
          />
        </label>
        Peso:<label for="weight">
          <input
            type="number"
            name="peso"
            placeholder="Peso del personaje"
            id="weight"
            value="<%= character.peso %>"
            class="search-input"
          />
        </label>
        Historia:<label for="history">
          <input
            type="text"
            name="historia"
            placeholder="Historia del personaje"
            id="history"
            value="<%= character.historia %>"
            class="search-input"
          />
        </label>
        Imagen:<label for="character-image">
          <input
            type="file"
            name="imagen_personaje"
            id="character-image"
            class="search-input"
          />
        </label>
        Peliculas/Series Asociadas:
        <div class="checkbox-container">
          <% movies.forEach(movie => { %>
          <label class="checkbox-label">
            <input
              class="checkbox-input"
              name="id_movies_asociated"
              type="checkbox"
              value="<%- movie.id %>"
              id="checkbox-character"
              <% asociatedMovies.forEach(asociatedMovie => { %>
              <%- asociatedMovie.id_pelicula_serie == movie.id ? "checked" : "" %>
              <% }) %>
            /><%- movie.titulo %>
          </label>
          <% }) %>
        </div>

        <button type="submit" class="search-button">Confirmar</button>
      </form>
    </div>
  </body>
</html>
